.hero {
    margin: auto;
    width: 100%;
    position: relative;
    top: -42vw;
    height: 10px;
  }

.hero h1 {
  color: white;
  font-family: 'Yellowtail', cursive;
}

.hero h2 {
  color: white;
  font-family: 'Yellowtail', cursive;
}

.hero h3 {
  color: white;
  font-family: 'Yellowtail', cursive;
}

.index-sections img {
  height: 64px;
}

#google-map {
  width: 75vw;
  height: 75vw;
}



@media screen and (min-width:768px){
  #google-map {
    height: 35vh;
    margin-right: 2rem;
  }
  .google-map {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width:1900px) {
  #google-map {
    height: 50vh;
  }
}
