body {
  margin: 0;
  font-family: 'Alegreya', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
}

a:hover, a:active {
  color: inherit;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto;
}

.carousel-wrapper-inner {
  overflow:hidden;
  background: black;
  height: 50vw;
}

.carousel-wrapper-home img {
    height: 50vw;
    width: 100%;
    object-fit:cover;
    opacity:0.6;
  }

.hero {
  margin: auto;
  width: 100%;
  position: relative;
  top: -42vw;
  height: 10px;
}

.hero h1 {
  color: white;
  font-family: 'Yellowtail', cursive;
}

.hero h2 {
  color: white;
  font-family: 'Yellowtail', cursive;
}

.hero h3 {
  color: white;
  font-family: 'Yellowtail', cursive;
}

.index-sections img {
  height: 64px;
}


.videoWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#dive-slide li {
  background: white;
}

.carousel-wrapper img {
    height: 50vw;
    width: 100%;
    object-fit:cover;
    opacity:0.6;
  }

#dis-photo {
  opacity: 0.9;
}

.course-list-small-screen .legend {
  font-size: 100px;
}

#diveCourses img {
  height: 35vw;
}

#diveCourses .carousel-indicators li {
  background-color: #999;

}

#diveCourses .carousel-indicators .active {
  background-color: #444;
}

#diveCourses .carousel-control-prev {
  display: none;
}

#diveCourses .carousel-control-next {
  display: none;
}

.dive-course-info {
  height: 45vw;
}

.aboutus-section {
    padding: 0px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #222222 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}


.aboutus-banner img {
  height: 60vh;
}

.aboutus-section a {
  color:  hsl(205, 78%, 60%);
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #606060 none repeat scroll 0 0;
    content: "";
    height: 140%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
    z-index: -1;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #606060;
    padding:0px;
    font-size:40px;
    border: 1px solid #606060;
    border-radius: 100px;
    color: #606060;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}


.jumbotron {
  position:relative;
  overflow:hidden;
  padding-left: 0;
  padding-right: 0;
  background: black;

}

.jumbotron .container {
  position:relative;
  z-index:2;
  padding:2rem;
  color: white;
  font-family: 'Yellowtail', cursive;
}

.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.6;
}


.jumbotron-background img {
  width:100%;
}

.fish-id img {
  width: 100%;
}

.dive-site-info button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: hsl(205, 78%, 60%);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.contact-link a {
  color: hsl(205, 78%, 60%);
}

.seo-tags h1 {
  font-size: 0.1px;
  color: transparent;
}

@media screen and (min-width:640px)
{
 #dive-slide {
   display: none;
 }
 .fish-id img {
   height: 20vw;
 }
 .dive-site-info img {
   height: 30vw;
 }

 #scuba-diver-info-small {
    display: none;
  }

 h1, h2, h3 {
   font-size: 4rem;
 }

 .dive-info h3 {
   font-size: 2.5rem;
 }

 .dive-info .well h3 {
   font-size: 2rem;
 }

 #scuba-diver-info h5 {
   font-size: 0.7rem;
 }

 .aboutus-banner img {
  height: 80vh;
}
.feature .feature-box .iconset::after {
  height: 10%;
}

@media screen and (min-width:1280px)
{
  h1, h2, h3 {
   font-size: 5rem;
 }
}

@media screen and (min-width:1800px)
{
  h1, h2, h3 {
   font-size: 7rem;
 }
  h4, h5, h6 {
   font-size: 4rem;
 }

  .dive-info h5 {
    font-size: 1.5rem;
  }  

  .dive-site-info h4 {
    font-size: 3rem;
  }

  .dive-site-info h6 {
    font-size: 2rem;
  }

  .about-page-footer {
    position: absolute;
    top: 91vh;
    width: 100%;
  }

}

}
@media screen and (min-width:768px)
{
  .feature .feature-box .iconset::after {
    height: 140%;
}
}

@media screen and (max-width:639px){
  #diveCourses {
    display: none;
  }
  #scuba-diver-info-big {
    display: none;
  }
  
}

@media screen and (max-width:740px){
  .aboutus-banner img {
    margin-left: 15%;
  }
  .dive-info img {
    height: 10vw;
  }
}

@media screen and (max-width:415px){
  .aboutus-banner img {
    margin-left: 10%;
  }
  .dive-info img {
    height: 15vw;
  }
}

@media screen and (min-width:768px) and (min-height: 1024px) {
  .aboutus-banner img {
    height: 30vh;
  }
}

@media screen and (min-width:1024px) {
  .aboutus-section {
    margin-top: 10vh;
  }
  .page-footer {
    
    position: absolute;
    width: 100%;
  }
  .aboutus-banner img {
    height: 50vh;
  }
}

@media screen and (min-width:1024px) and (min-height:1360px) {
  .aboutus-banner img {
    height: 30vh;
  }
}

@media screen and (max-width:1024px) and (max-height: 768px) and (min-width:1024px) {
  .aboutus-banner img {
    height: 40vh;
  }
  
  .aboutus-section {
    margin-top: 10vh;
  }
}

@media screen and (max-width:768px) and (max-height: 1024px) and (min-width:768px) {
  .aboutus-banner img {
    height: 27vh;
  }
  .page-footer {
    position: absolute;
    width: 100%;
  }
  .aboutus-section {
    margin-top: 10vh;
  }
}

@media screen and (min-width:1900px) {
  

  .aboutus-banner img {
    height: 40vh;
  }
  .page-footer {
    
    position: absolute;
    width: 100%;
  }
  .aboutus-section {
    margin-top: 10vh;
  }
}
